<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details of Show</title>
    <style>
        /* main {
            margin-left: 550px;
            margin-top: 50px;
        } */

        h1 {
            font-family: cursive;
            color: red;
        }

        p {
            font-family: cursive;

        }

        a {
            font-family: cursive;
            color: blue;
        }
    </style>
</head>

<body>


    <main>
        <a href="/mytree">Mytrees</a>
        <h1> Welcome {{request.session.first_name}}</h1>
        <p>{{request.session.WhatWeDo}}</p>
<!-- --------------------------------------------------------- -->
        <a href="/delete">Log Out</a>
        <a href="/toall">Dash board</a>
    </main>

    <main>
        <h1>Species {{plan.Species}}</h1>
        <p>Planted By : {{plan.Planted_By}}</p>
        <p>Reason : {{plan.Reason}}</p>
        <p>when : {{plan.relaseDate}}</p>
        

        <footer>
            
            <p>Last Updated : {{time}}</p>
            
        </footer>
        <a href="/">Add a New plan</a><br>
        <a href="/">Go Back</a>
    </main>
</body>

</html>