<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>ad book</h1>
    <form action="/addauthor" method="POST">
        {%csrf_token%}
        <p>first name <input type="text" name="first_name"></p>
        <p>last name <input type="text" name="last_name"></p>
        <p>Notes <input type="text" name="notes"></p>
        <input type="submit" value="add">
    </form>

    <hr>
    <table border="1">
        {%for a in all_authors%}
        <tr>
            <td>{{a.id}}</td>
            <td>{{a.first_name}}{{a.last_name}} </td>
            <td><a href="/authors/{{a.id}}">view</a> </td>
        </tr>
        {%endfor%}
    </table>
</body>

</html>