<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    name : {{oneauthor.first_name}}{{oneauthor.first_name}}
    id : {{oneauthor.id}}
    Notes:{{oneauthor.notes}}

    {%for a in all%}
        
    <p>{{a.title}}{{a.last_name}}</p>
    {%endfor%}
    
    <form action="/authbook/{{oneauthor.id}}" method="post">
        {%csrf_token%}
        <select name="books" id="">
            {% for b in all_books%}
            <option value="{{b.id}}">{{b.title}}</option>
            {%endfor%}
        </select>
        <input type="submit" value="add">
    </form>
</body>

</html>