<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ad book</h1>
    <form action="/addbook" method="POST">
        {%csrf_token%}
<p>title <input type="text" name="title"></p>
<p>description <input type="text" name="desc"></p>
<input type="submit" value="add">
    </form>
    
    <hr>
    <table border="1">
    {%for b in all_books %}
<tr><td>{{b.id}}</td>
<td>{{b.title}}</td>
<td><a href="/books/{{b.id}}">view</a>  </td></tr>
    {%endfor%}
</table>
</body>
</html>