<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form>
        <h1>submit info </h1>
        <p>name {{name1}}</p>
        <p>Dojo Location{{loc1}}</p>
        <p>Favorite Language{{fav1}}</p>
        <p>comment{{com1}}</p>
        <input type="submit" value="go back">
    </form>
</body>
</html>