<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>playground</title>
    <link rel="stylesheet" href="playground.css">
    <style>

        .box1 {
            height: 60px;
            width: 60px;
            background-color:{{color}};
            margin: 20px;
        }

        body{
            display: flex;
            justify-content: center;
            margin-top: 30px;
        }
    </style>
</head>

<body>
    {%for x in range (number)%}
    <div class="box1"></div>
    {%endfor%}
</body>

</html>